html {
    background-color: #1b1b2a;
}


.home-background {
    background-image: url(/src/assets/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    background-color: #1b1b2a;
}

.green {
    color: #b0e05e;
}

.´üis-cover-image {
    object-fit: cover;
    height: 300px;
}

.navbar-item img,
.navbar-item svg {
    max-height: unset !important;
}

/* Ajustes generales para móviles */
@media (max-width: 768px) {
    .home-background {
        background-size: cover;
        background-position: center top;
        height: 70vh;
        /* Ajustado para que no sea demasiado alto */
    }

    h2.title {
        font-size: 1.8rem;
        text-align: center;
    }

    .card1 {
        width: auto;
    }

    .font-size {
        font-size: 1.6rem !important;
    }

    h3 {
        font-size: 1.8rem;
        /* Tamaño más compacto */
    }

    p.content {
        font-size: 1.2rem;
        /* Reducir tamaño del párrafo */
    }

    .card {
        height: auto;
    }

    .card img {
        height: auto;
        /* Ajustar tamaño de las imágenes */
        object-fit: cover;
    }

    .content h3 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 0.9rem;
    }

    .navbar-texto {
        display: none !important;
    }

    .home-h2 {
        display: none;
    }
}

/* Ajustes para pantallas aún más pequeñas */
@media (max-width: 480px) {
    h1.title {
        font-size: 1.5rem;
    }

    h2.title {
        font-size: 1.2rem;
        /* Más pequeño en pantallas muy pequeñas */
    }

    .content {
        font-size: 1rem;
        /* Reducir aún más el texto */
    }

    h3 {
        font-size: 0.9rem;
        /* Títulos más pequeños */
    }

    p.title {
        font-size: 1.5rem;
    }

    p.subtitle {
        font-size: 1.2rem;
    }

    p.content {
        font-size: 0.9rem;
    }

    .card img {
        height: 140px;
        /* Imágenes más pequeñas */
    }

    .for-card {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .home-h2 {
        display: none;
    }
}